.title{
    padding-top:1.5%;
    padding-inline-start: 40px;
    margin-left: 0.5%;
    color: #2980b9;
}

ul {
    list-style-type:none;
    font-size: medium;
}

li span{
    display: block;
    padding: 1%;
}

li p{
    display: inline-flex;
    padding: 1%;
}

li b{
    padding-right: 5px;
}

button {
    margin: 1%;
}

mat-divider{
    margin: 0.5%;
    margin-right: 5%;
}