<h1>Pedidos de introdução do Jogador:</h1>

<!--<br>

<table mat-table [dataSource]="pedidosIntroducaoB" class="mat-elevation-z8">

  <ng-container matColumnDef="jogadorOrig">
    <th mat-header-cell *matHeaderCellDef> Jogador Origem </th>
    <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorId}} </td>
  </ng-container>

  <ng-container matColumnDef="jogadorInterm">
    <th mat-header-cell *matHeaderCellDef> Jogador Intermédio </th>
    <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorIntermedioId}} </td>
  </ng-container>

  <ng-container matColumnDef="jogadorObj">
    <th mat-header-cell *matHeaderCellDef> Jogador Amigo </th>
    <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorObjetivoId}} </td>
  </ng-container>

  <ng-container matColumnDef="msgIntermedio">
    <th mat-header-cell *matHeaderCellDef> Mensagem pedido</th>
    <td mat-cell *matCellDef="let pedido "> {{pedido.msgIntermedio}} </td>
  </ng-container>

  <ng-container matColumnDef="estadoPedido">
    <th mat-header-cell *matHeaderCellDef> Estado pedido</th>
    <td mat-cell *matCellDef="let pedido "> {{pedido.estadoPedido}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunasJogadorB"></tr>
  <tr mat-row *matRowDef="let row; columns: colunasJogadorB;"></tr>
</table>

<br>

<table mat-table [dataSource]="pedidosIntroducaoC" class="mat-elevation-z8">

  <ng-container matColumnDef="jogadorOrig">
    <th mat-header-cell *matHeaderCellDef> Jogador Origem </th>
    <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorId}} </td>
  </ng-container>

  <ng-container matColumnDef="jogadorInterm">
    <th mat-header-cell *matHeaderCellDef> Jogador Intermédio </th>
    <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorIntermedioId}} </td>
  </ng-container>

  <ng-container matColumnDef="jogadorObj">
    <th mat-header-cell *matHeaderCellDef> Jogador Amigo </th>
    <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorObjetivoId}} </td>
  </ng-container>

  <ng-container matColumnDef="msgIntermedio">
    <th mat-header-cell *matHeaderCellDef> Mensagem pedido</th>
    <td mat-cell *matCellDef="let pedido "> {{pedido.msgIntermedio}} </td>
  </ng-container>

  <ng-container matColumnDef="estadoPedido">
    <th mat-header-cell *matHeaderCellDef> Estado pedido</th>
    <td mat-cell *matCellDef="let pedido "> {{pedido.estadoPedido}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunasJogadorC"></tr>
  <tr mat-row *matRowDef="let row; columns: colunasJogadorC;"></tr>
</table>

<router-outlet></router-outlet> -->
<!-- <div>
  <h1 class="title">Pedidos de Introdução:</h1>
  <ul class="pedidosIntroducao">
    <li *ngFor="let pedidoIntroducao of pedidosIntroducao">
      <span class="badge"><b>Id:</b>{{pedidoIntroducao.id}}</span>
      <p> <b>Data:</b> {{pedidoIntroducao.dataPedido}}</p>
      <p> <b>Jogador Objetivo:</b></p>
      <p> <b>Mensagem de Introdução:</b> {{pedidoIntroducao.msgIntermedio}}</p>
      <p> <b>Mensagem de ligação:</b> {{pedidoIntroducao.msgObjetivo}}</p>
      <p> <b>Estado:</b> {{pedidoIntroducao.estadoPedido}}</p>
      <br>
      <button mat-raised-button (click)="aprovarPedido(pedidoIntroducao)">Aprovar</button>
      <button mat-raised-button (click)="desaprovarPedido(pedidoIntroducao)">Desaprovar</button>
      <mat-divider></mat-divider>
    </li>
  </ul>
</div> -->
<div class="table-container">
  <table mat-table [dataSource]="pedidosIntroducaoA" class="mat-elevation-z8">

    <ng-container matColumnDef="jogadorOrig">
      <th mat-header-cell *matHeaderCellDef> Jogador Origem </th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorNome}} </td>
    </ng-container>

    <ng-container matColumnDef="jogadorInterm">
      <th mat-header-cell *matHeaderCellDef> Jogador Intermédio </th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorIntermedioNome}} </td>
    </ng-container>

    <ng-container matColumnDef="jogadorObj">
      <th mat-header-cell *matHeaderCellDef> Jogador Amigo </th>
      <td mat-cell *matCellDef="let pedido"> {{pedido.jogadorObjetivoNome}} </td>
    </ng-container>

    <ng-container matColumnDef="msgIntermedio">
      <th mat-header-cell *matHeaderCellDef> Mensagem de introdução</th>
      <td mat-cell *matCellDef="let pedido "> {{pedido.msgIntermedio}} </td>
    </ng-container>

    <ng-container matColumnDef="msgObjetivo">
      <th mat-header-cell *matHeaderCellDef> Mensagem de ligação</th>
      <td mat-cell *matCellDef="let pedido "> {{pedido.msgObjetivo}} </td>
    </ng-container>

    <ng-container matColumnDef="estadoPedido">
      <th mat-header-cell *matHeaderCellDef> Estado pedido</th>
      <td mat-cell *matCellDef="let pedido "> {{pedido.estadoPedido}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let pedido">
        <div *ngIf="isIntermedio(pedido) && pedido.estadoPedido == 'pendente'">
          <button mat-button (click)="aprovarPedido(pedido)">Aprovar</button>
          <button mat-button (click)="desaprovarPedido(pedido)">Desaprovar</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>