@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.mat-sort-header-container {
    align-items: center;
  }

  table {
    width: 100%;
  }

  h1{
    text-align: center;
    padding: 20px 0 20px 0;
    color: #2980b9;
  }