<h2 mat-dialog-title>Termos e Condições</h2>
<mat-dialog-content>- Aqui vamos responder as seguintes questões:
    <p> </p>
    <span class="tab">1. Como usamos os seus dados pessoais;</span>
    <p></p>
    <span class="tab">2. Por quanto tempo iremos armazenar os seus dados;</span>
    <p></p>
    Todos os termos utilizados nos Termos e Condições OPT têm o mesmo significado que nesta Política de Privacidade.
    <p></p>
    <span class="tab"> 1. Como usamos os seus dados pessoais?</span>
    <p></p>
    <span class="tab3">a. Tipos de dados pessoais que nós processamos.</span>
    <p></p>
    <span class="tab3">c. Quais são as finalidades de usarmos os seus dados pessoais.</span>
    <p></p>
    <span class="tab3">d. Fundamento de Licitude.</span>
    <p></p>
    <span class="tab2">2. Nós processamos os seus  dados pessoais. Os dados pessoais incluem o seu nome,
        email, número de telefone, url do LinkedIn, url do Facebook, uma descrição breve sobre si, o país e a cidade
        onde mora, a sua data de nascimento, o seu estado de humor, uma lista de tags com que se identifique, e o seu avatar,
        que você fornece enquanto faz o registo. Obtemos estes dados diretamente
        a partir de si. O objetivo do processamento destes dados é a operação de nosso site, a prestação de nossos serviços, garantindo
        a segurança do nosso site e serviços, e comunicação consigo.
        A base legal para este processamento é a vinculação de um contrato entre você e nós, concedendo acesso aos
        nossos Serviços.
        </span>
    <p></p>
    <span class="tab2">3. Podemos processar informações relacionadas a qualquer comunicação que você nos enviar
        (“Dados de comunicação”). 
        Os dados de comunicação podem incluir o conteúdo de comunicação e metadados associados à comunicação.
        No caso da comunicação através do nosso site, o site irá gerar os metadados associados com
        comunicações feitas através dos formulários de contato do site. Os dados de comunicação são processados ​​para o
        propósitos de
        comunicar-se com você e manter registos. A base legal para este processamento é o nosso legítimo
        interesse,
        nomeadamente, assegurar a qualidade dos nossos serviços e para investigar litígios entre si e a nossa
        companhia.</span>
    <p></p>
    <span class="tab2"> 4. Podemos processar qualquer um dos seus dados pessoais identificados neste ficheiro, quando necessário
        para o estabelecimento,
        exercício ou defesa de ações judiciais, seja em processo judicial ou administrativo ou
        extrajudicial
        procedimento. A base legal para este tratamento são os nossos legítimos interesses, nomeadamente a proteção e
        afirmação de nossos direitos legais,  dos seus direitos legais e os direitos legais de terceiros.</span>
    <p></p>
    <span class="tab2"> 5. Podemos processar qualquer um dos seus dados pessoais identificados neste aviso, quando necessário
        para o propósito de
        obtenção ou manutenção de cobertura de seguro, gerenciamento de riscos ou obtenção de aconselhamento profissional. A base legal
        para este processamento são os nossos interesses legítimos, nomeadamente a proteção adequada do nosso negócio
        contra riscos.</span>
    <p></p>
    <span class="tab2"> 6. Além das finalidades específicas para as quais podemos processar seu conjunto de dados pessoais
        nesta seção,
        também podemos processar qualquer um dos seus dados pessoais quando tal processamento for necessário para o cumprimento de uma
         obrigação jurídica
         a que estamos sujeitos, ou para proteger seus interesses vitais ou os interesses vitais de outrem
        pessoa natural.</span>
    <p></p>
    <span class="tab"> 2. Por quanto tempo iremos armazenar os seus dados?</span>
    <p></p>
    <span class="tab2"> 1. Os seus dados pessoais que processamos para qualquer propósito  não devem ser mantidos para
        mais do que é
        necessário para esse ou esses fins. Em qualquer caso, deve ser mantido por não mais do que 2 anos:</span>
    <p></p>
    <span class="tab2"> 2. Em alguns casos, não é possível especificarmos antecipadamente os períodos para os quais
        os seus dados pessoais ficaram retidos.
        I. e. os dados de uso serão retidos pelo tempo que for necessário para os
        fins de processamento.</span>
    <p></p>
    <span class="tab2"> 3. Além das outras disposições desta Seção, podemos reter seus dados pessoais onde
        tal retenção é
        necessário para o cumprimento de uma obrigação legal a que estamos sujeitos, ou para proteger o seu
        interesse
        ou os interesses vitais de outra pessoa física.</span>
    <p></p>
    <span class="tab"> 3. Quais direitos relacionados aos dados pessoais você possui?</span>
    <p></p>
    <span class="tab2"> 1. Nesta seção, resumimos os direitos que você tem sob a lei de proteção de dados.
         Alguns dos direitos são complexos, portanto, fornecemos apenas os principais aspetos de tais direitos. 
         Assim, você deve ler as leis relevantes e orientação das autoridades regulatórias para uma explicação completa destes
        direitos.</span>
    <p></p>
    <span class="tab2"> 2. Seus outros direitos principais sob a lei de proteção de dados são os seguintes:</span>
    <p></p>
    <span class="tab3"> a. o direito de acessar os seus dados pessoais.</span>
    <p></p>
    <span class="tab3"> b. o direito de modificar (observe que você pode exercer a maior parte desse direito enviando um
                email para
                dc301@dc301.pt ou pelo telefone +351 220000001).</span>
    <p></p>
    <span class="tab3">c. o direito ao esquecimento.</span>
    <p></p>
    <span class="tab3">d. o direito de restringir o processamento de seus dados pessoais.</span>
    <p></p>
    <span class="tab3"> e. o direito de se opor ao processamento de seus dados pessoais.</span>
    <p></p>
    <span class="tab3"> f. o direito de reclamar a uma autoridade supervisora.</span>
    <p></p>
    <span class="tab3"> g. o direito de retirar o consentimento.</span>
    <p></p>
    <span class="tab2"> 3. O direito de acessar os dados. Você tem o direito de confirmar se nós ou não
        processamos os seus
        dados pessoais e, quando o fazemos, acesso aos dados pessoais, juntamente com determinados
        em formação.
        Essas informações adicionais incluem detalhes das finalidades do processamento, as categorias de
        dados pessoais em causa e os destinatários dos dados pessoais. 
        Fornecer os direitos e liberdades de outras pessoas não são
        afetados, iremos fornecer-lhe uma cópia dos seus dados pessoais.</span>
    <p></p>
    <span class="tab2"> 4. O direito à modificação. Você tem o direito de modificar qualquer informação pessoal imprecisa
        dados sobre você e,
        levando em consideração as finalidades do processamento, ter quaisquer dados pessoais incompletos sobre você.
        Para exercer este direito você pode enviar um e-mail dc301@dc301.pt, com o Assunto “Dados de Correção”,
        fornecendo-nos o seu e-mail e as informações que deseja modificar.</span>
    <p></p>
    <span class="tab2"> 5. Em algumas circunstâncias, você tem o direito de ser esquecido, apagando os seus
        dados do nosso sistema. Estas circunstâncias incluem quando: (i) os dados pessoais não são mais necessários em relação aos fins
        por
        quais foram coletados ou processados ​​de outra forma; 
        (ii) você retire o consentimento para processamento baseado em consentimento
        e
        não há outra base legal para processar dados;
         (iii) você se opõe ao processamento sob certas regras de
        leis de proteção de dados aplicáveis;
         (iv) o processamento é para fins de marketing direto; ou (v) os
        dados pessoais foram processados ​​ilegalmente. No entanto, existem exclusões do direito de apagamento. Tais
        exclusões
        incluir quando o processamento for necessário: 
        (i) para o exercício do direito à liberdade de expressão e
        em formação;
        (ii) para cumprimento de nossa obrigação legal; ou (iii) para o estabelecimento, exercício ou defesa de
        reivindicações jurídicas.</span>
    <p></p>
    <span class="tab2"> 6. Em algumas circunstâncias, você tem o direito de restringir o processamento de seus dados pessoais
        dados. Aqueles
        as circunstâncias são quando: (i) você contesta a exatidão dos dados pessoais; (ii) o processamento é ilegal,
        mas
        você se opõe ao apagamento; (iii) não precisamos mais dos dados pessoais para fins de nosso processamento, mas
        vocês
        exigir dados pessoais para o estabelecimento, exercício ou defesa de ações judiciais; e (iv) você tem
        contestou o processamento, enquanto se aguarda a verificação dessa objeção. Onde o processamento foi restrito
        sobre
        com base nisso, podemos continuar a armazenar seus dados pessoais, no entanto, só continuaremos a processar esses dados
        dentro
        qualquer outra forma: (i) com o seu consentimento; (ii) para o estabelecimento, exercício ou defesa de ações judiciais;
        (iii) para a proteção dos direitos de outra pessoa; ou (iv) por motivos de público importante
        interesse.</span>
    <p></p>
    <span class="tab2"> 7. Você tem o direito de se opor ao nosso processamento de seus dados pessoais por motivos
        relacionando-se com a sua
        situação particular, mas apenas na medida em que a base jurídica para o tratamento é que o
        em processamento
        é necessária para: o desempenho de uma tarefa levada a cabo no interesse público ou para os fins dos
        interesses legítimos perseguidos por nós ou por terceiros. Se você fizer tal objeção, deixaremos de
        processar as informações pessoais, a menos que possamos demonstrar fundamentos legítimos convincentes para o
        em processamento
        que se sobreponham aos seus interesses, direitos e liberdades, ou o tratamento é para o estabelecimento,
        exercício, ou
        defesa de reivindicações legais.</span>
    <p></p>
    <span class="tab2"> 8. Você tem o direito de se opor ao nosso processamento de seus dados pessoais para fins científicos
        ou histórico
        fins de pesquisa ou estatísticos com base na sua situação particular, a menos que o
         processamento é necessário para o desempenho de uma tarefa realizada por razões de interesse público.</span>
    <p></p>
    <span class="tab2"> 9. Se você considerar que o nosso processamento de suas informações pessoais viola dados
        leis de proteção, você tem
        o direito legal de apresentar queixa a uma autoridade de supervisão responsável pela proteção de dados. Você pode
        apresentar no estado membro da UE de sua residência habitual, seu local de trabalho ou o local do alegado
        violação. Nosso processamento de dados é supervisionado pela Comissão Nacional de Proteção de Dados, cadastrada
        Av. D.
        Carlos I, 134 - 1.º 1200-651 Lisboa, https://www.cnpd.pt/.</span>
    <p></p>
    <span class="tab2"> 10. Na medida em que a base legal para o nosso processamento de suas informações pessoais
        é consentimento, você tem
        o direito de retirar esse consentimento a qualquer momento. A retirada não afetará a legalidade do processamento
        antes da retirada.</span>
    <p></p>
    <span class="tab2"> 11. Além de medidas específicas fornecidas nesta seção ou no site, você também pode
        exercer qualquer um dos
        direitos indicados aqui entrando em contato connosco através do e-mail dc301@dc301.pt.</span>
    <p></p>
    <span class="tab"> 5. Dados pessoais</span>
    <p></p>
    <span class="tab2"> 1. Pedimos a sua data de nascimento para verificar se tem mais que 16 anos.</span>
    <p></p>
    <span class="tab2"> 2. Pedimos o seu email visto que este permite o utilizador  usufruir o conteúdo do nosso site.</span>
    <p></p>
    <span class="tab2"> 3. Pedimos o seu número de telefone para a eventualidade de precisar ser contactado.</span>
    <p></p>
    <span class="tab2"> 4. Pedimos o seu facebook e o seu linkedIn para que possa encontrar mais facilmente os seus amigos.</span>
    <p></p>
    <span class="tab2"> 5. Pedimos a sua cidade e pais para que possa encontrar pessoas da sua região.</span>
    <p></p>
    <span class="tab2"> 6. Pedimos o seu estado de humor para partilhar com os seus amigos.</span>
    <p></p>
    <span class="tab2"> 7. Pedimos as tuas tags para que possa encontrar utilizadores que tenham essas tags em comum.</span>
    <p></p>
    <span class="tab2"> 8. Pedimos uma descrição breve para que outros utilizadores o possam conhecer melhor.</span>
    <p></p>
    <span class="tab2"> 2. Pedimos o seu avatar para que seja mais fácil o reconhecer no nosso site.</span>
    <p></p>
    <span class="tab">6. Atualizando seus dados</span>
    <p></p>
    <span class="tab2">Informe-nos se as informações pessoais que mantemos sobre você precisam ser corrigidas ou atualizadas.</span>
    <p></p>
    <span class="tab"> 7. Mudanças no documento</span>
    <p></p>
    <span class="tab2">Quaisquer alterações a este documento serão publicadas no site e, em caso de alterações materiais, poderemos
        informá-lo sobre isso por e-mail.</span>
    </mat-dialog-content>
<mat-dialog-actions>
    <button class="button_others"(click)="close()">Li e Aceito</button>
</mat-dialog-actions>